.app {
  border: 1px solid transparent;
  max-width: 600px;
  height: 60vh;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}



